modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[[ports]]
localPort = 5000
externalPort = 80

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[env]
SESSION_SECRET = "7YqfjTnPx55bSGeV/HTLrSNj3PjLCqvp0+nISSATfgxJ9QTwI3hC3JQHZeT3RjOY+NEWaWifjuIZn/mvgYzVfA=="
DATABASE_URL = "postgresql://neondb_owner:npg_UjP70rwXpyYk@ep-wandering-wildflower-a4p1dusw.us-east-1.aws.neon.tech/neondb?sslmode=require"
PGDATABASE = "neondb"
PGHOST = "ep-wandering-wildflower-a4p1dusw.us-east-1.aws.neon.tech"
PGPORT = "5432"
PGUSER = "neondb_owner"
PGPASSWORD = "npg_UjP70rwXpyYk"
